@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.tour-image {
    width: 100%;
    height: 400px;
    background-image: url("turImage/baikal-winter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-flex;
    align-items: flex-end;
    padding-bottom: 20px;
    /* display: flex; */
    /* align-items: bottom; */
}

.tour-h3 {
    text-align: center;
    width: 59%;
    margin:  0;
    margin-left: 20px;
    color: #fff;
    font-size: 4em;
    font-weight: 800;
}

.container{
    position: relative;
}


.container-text {
    display: flex;
    width: 70%;
    padding-right: 15px;
    justify-content: right;
}

.text {
    width: 90%; 
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.text h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    line-height: 55px;
    font-weight: 900;
    color: #0b2248;
    
}

.text h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    line-height: 55px;
    font-weight: 900;
    color: #0b2248;
    padding-bottom: 5px;
}

.text ul {
    list-style-type: none;
    /* font-size: 25px; */
    font-size: 19px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    color: #0b2248;

}

.test {
    font-size: 19px;
    font-weight: 300;
    color: #0b2248;
}
.buy-tour {
    width: 360px;
    /* height: 500px; */
    background-color: #fff;
    position: absolute;
    left: 70%;
    top: 15%;
    border-radius: 10px;
    box-shadow: 0 12px 53.58px 3.42px rgba(161, 183, 185, .34);;
}

.buy-tour-text {
    width: 100%;
    min-height: 77px;
    color: #fff;
    padding-right: 5px;
    font-size: 26px;
    background-color: #0089d0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Muller", "Arial", sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.priseAndDays {
    display: flex;
    width: 100%;
    min-height: 50px;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.prise, .days {
    font-size: 22px;
    font-weight: 400;
    font-family: "Muller", "Arial", sans-serif;
}

.input-field input {
    display: block;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid  rgb(206,223,225);
    outline: none;
    padding-left: 15px;
    transition: border 0.3s linear;
}

.input-field input:hover, .textarea-field textarea:hover {
    border: 2px solid #ffa819;
}

.input-field input:focus, .textarea-field textarea:focus {
    border: 2px solid #ffa819;
}

.textarea-field textarea {
    display: block;
    width: 90%;
    margin: auto;
    border: 2px solid  rgb(206,223,225);
    outline: none;
    border-radius: 15px;
    padding-top: 17px;
    padding-left: 15px;
    height: 90px;
    margin-bottom: 25px;
    resize: none;
    font-size: 15px;
    line-height: 17px;
    transition: border 0.3s linear;
    
}

.btn {
    display: block;
    width: 300px;
    padding: 15px 30px 10px;
    margin: 0 auto 30px;
    font-family: "Muller", "Arial", sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right, #ffa819, #ff8619);
    border-radius: 30px;
    box-shadow: 0 5px 22.56px 1.44px rgb(255 132 25 / 46%);
    border: 0;
    border-bottom: 2px solid #e16c09;
    text-align: center;
    cursor: pointer;
    transition:  box-shadow 0.3s ease;
    text-align: center;
}

.btn:hover {
    box-shadow: none;
}

.notice {
    padding-left: 23px;
    padding-top: 3px;
    padding-right: 16px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.notice a {
    text-decoration: underline;
    color: #000;
    transition: color 0.2s linear;
    
}

.notice a:hover {
    color: #ffa819;
}

.day-container, .night-container {
    display: flex;
}

.day, .night {
    margin-left: 5px;
}